<nav class="top_menu">
    <ul>
      <li>
        <a href="/">New Order</a>
     </li>
     <li>
        <a href="/orders">Orders</a>
     </li>
    <li>
      <a href="/author">Author</a>
   </li>
    </ul>
 </nav>