<%- include('layouts/header'); -%>
  </head>

  <body>
    <%- include('layouts/nav'); -%>
      <section class="formdivide">
        <form name="userform" method="Post" onsubmit="return formSubmit();" action="">
          <label>Name</label>
          <input id="name" placeholder="First Last" type="text" name="name"><br />

          <label>Email</label>
          <input id="email" placeholder="email@domain.com" type="text" name="email"><br />

          <label>Phone</label>
          <input id="phone" placeholder="123-123-1234" type="phone" name="phone"><br />

          <label>Street Name</label>
          <input id="street" placeholder="xyz street" type="text" name="street"><br />

          <label>City</label>
          <input id="city" placeholder="city name" type="text" name="city"><br />

          <label>Post Code</label>
          <input id="postCode" placeholder="X0X 0X0" type="text" name="postCode"><br />

          <label>Province</label>
          <select name="province" id="province">
            <option value="">----- Select -----</option>
            <option value="Alberta">Alberta</option>
            <option value="British Columbia">British Columbia</option>
            <option value="Manitoba">Manitoba</option>
            <option value="New Brunswick">New Brunswick</option>
            <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
            <option value="Nova Scotia">Nova Scotia</option>
            <option value="Ontario">Ontario</option>
            <option value="Prince Edward Island">Prince Edward Island</option>
            <option value="Quebec">Quebec</option>
            <option value="Saskatchewan">Saskatchewan</option>
          </select>

          <br /><br />
          <h3>Place Your Order</h3>
          <!-- Fields for Purchasing items-->
          <label>Lay's ($3):</label>
          <input type="text" name="lays" id="lays" placeholder="5">

          <label>Choclate Milk ($4):</label>
          <input type="text" name="milk" id="milk" placeholder="5">

          <label>Bread ($3):</label>
          <input type="text" name="bread" id="bread" placeholder="5">

          <label>Delivery Time:</label>
          <select name="delivery" id="delivery">
            <option value="">----- Select -----</option>
            <option value="1 Days">1 Days</option>
            <option value="2 Days">2 Days</option>
            <option value="3 Days">3 Days</option>
            <option value="4 Days">4 Days</option>
            <option value="5 Days">5 Days</option>
          </select>

          <input type="submit" value="Submit">
          <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
            <p class="errors">
              <%= error.msg %>
            </p>
            <% } } %>
        </form>
      </section>
      <section class="formdivide">
        <div class="formData">
          <% if(typeof(minimumPurchase) !='undefined' ){%>
            <p class="errors">
              <%= minimumPurchase %>
            </p>
            <% } %>
              <% if(typeof(total) !='undefined' ){ %>
                <p id="formResult">Your Receipt:</p>
                <table>
                  <tr>
                    <th>Name: </th>
                    <td>
                      <%= name %>
                    </td>
                  </tr>
                  <tr>
                    <th>Email: </th>
                    <td>
                      <%= email %>
                    </td>
                  </tr>
                  <tr>
                    <th>Phone: </th>
                    <td>
                      <%= phone %>
                    </td>
                  </tr>
                  <tr>
                    <th>Delivery Address: </th>
                    <td>
                      <%= deliveryAddress %>
                    </td>
                  </tr>
                  <table class="items">
                    <%- itemsPurchased %>
                  </table>
                </table>
                <% } %>

        </div>
      </section>
  </body>
  <%- include('layouts/footer'); -%>