<%- include('layouts/header'); -%>

    <body class="orders">
        <%- include('layouts/nav'); -%>
            <section>
                <table class="orderstable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Delivery Address</th>
                            <th>Lay's</th>
                            <th>Choclate Milk</th>
                            <th>Bread</th>
                            <th>Shipping Charges</th>
                            <th>Sub Total</th>
                            <th>Tax</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var order of orders){ %>
                            <tr>
                                <td>
                                    <%= order.name %>
                                </td>
                                <td>
                                    <%= order.email %>
                                </td>
                                <td>
                                    <%= order.phone %>
                                </td>
                                <td>
                                    <%= order.deliveryAddress %>
                                </td>
                                <td>
                                    <%= order.lays %>
                                </td>
                                <td>
                                    <%= order.milk %>
                                </td>
                                <td>
                                    <%= order.bread %>
                                </td>
                                <td>
                                    <%= order.shippingCharges %>
                                </td>
                                <td>$<%= order.subTotal.toFixed(2) %>
                                </td>
                                <td>$<%= order.tax.toFixed(2) %>
                                </td>
                                <td>$<%= order.total.toFixed(2) %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </section>
    </body>
    <%- include('layouts/footer'); -%>