body{
    background-color: #FFA3AF;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    width: 960px;
    margin: 50px auto;
}

.orders{
    width: 1200px;
    margin: 10px auto;
}

.formdivide{
    width: 48%;
    float: left;
    margin: 1%;
}

#errors{
    color: #FBAF00;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 0;
}

form, .formData{
    width: 380px;
    border: 3px solid #FBAF00;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    color: #FBAF00;
    background-color: #00AF54;
    border-radius: 20px;
}

label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: #FBAF00;
}

input, select{
    font-size: 16px;
    font-family: 'Kalam', cursive;
    padding: 5px 10px;
}

input{
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
}

select{
    width: 192px;
   
}

h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

input[type="submit"]{
    width: 100%;
    font-size: 22px;
    background-color: #FBAF00;
    color: #00AF54;
    font-family: 'Kalam', cursive;
    border: 0px;
    padding: 5px;
    height: 40px;
    box-shadow: 4px 4px 0px #FBAF00;
    border-radius: 8px;
    margin-top: 10px;
}

input[type="submit"]:active{
    box-shadow: -3px -3px 0px #FBAF00;
}

.top_menu{
    background-color: #FBAF00;
    border: 3px solid #00AF54;
    box-shadow: 0 0 10px #2c2c2c;
    border-radius: 20px;
}

.top_menu ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.top_menu ul li{
    display: inline-block;
    width: 130px;
}

.top_menu ul li:hover{
    background-color: #FFD639;
}

.top_menu ul li a{
    color: #00AF54;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.items {
    margin: 10px auto;
    width: 380px;
    border: 2px solid #FBAF00;
    border-collapse: collapse;
}

.items td {
    text-align: center;
    border: 2px solid #FBAF00;
}

.orderstable{
    margin: 10px auto;
    border: 2px solid #FBAF00;
    border-collapse: collapse;
}

.orderstable td {
    text-align: center;
    border: 2px solid #FBAF00;
    color: #008F47;
}

.orderstable th {
    text-align: center;
    border: 2px solid #FBAF00;
}
